<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{{> head this}}

<body bgcolor="#f7f7f7">
    {{> header this}}
    <table align="center" cellpadding="0" cellspacing="0" class="container-for-gmail-android" width="80%" style="margin-top: 40px;">
        <tr style="border-top: 1px solid #efefef;">
            <tr>
                <td align="center" valign="top" width="100%" style="background-color: #fcfcfc; margin-top: 30px; height: 400px; padding: 40px !important; text-align: center;">
                    <div style="color: {{colors.primary_color}}; font-size: 32px;"> {{locales.hello}} :) </div>
                    <br/> {{locales.your_temporary_password_is}}: {{newPassword}}.
                    <br/> {{locales.remember_to_change_it_after_signing_in_again}}.
                    <br>{{locales.in_case_of_doubt_our_email_is}} {{env.CONTACT_EMAIL}}.
                </td>
            </tr>
        </tr>
        {{> footer this}}
    </table>
</body>

</html>